#top,
#navbar {
	background-color: white;
	z-index: 100;
}

:root {
	--input-padding-x: 1.5rem;
	--input-padding-y: .75rem;
}

body {
	background: #007bff;
	background: linear-gradient(to right, #0062E6, #33AEFF);
}

h1, h2, h3, h4, h5, h6 {
	overflow-x: auto;
	overflow-y: hidden;
}


.nopadding {
	padding: 0 !important;
	margin: 0 !important;
 }

.card-signin {
	border: 0;
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 1.5rem;
}

.card-signin .card-body {
	padding: 2rem;
}

.form-signin {
	width: 100%;
}

.form-control:disabled,
.form-control[readonly] {
	z-index: 0 !important;
}

.form-signin .btn {
	font-size: 80%;
	border-radius: 5rem;
	letter-spacing: .1rem;
	font-weight: bold;
	padding: 1rem;
	transition: all 0.2s;
}

.form-label-group {
	position: relative;
	display: flex;
	margin-bottom: 1rem;
	height: 50px;
}

.form-label-group.checkbox {
	border: 1px solid #ced4da;
	border-radius: 2rem;
	padding-left: 10px;

}

.form-label-group.checkbox input {
	width: 30px;
	height: 30px;
	margin: 9px;
}

.form-label-group.checkbox label {
	position: inherit;
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
}

.form-label-group input,
.form-label-group select {
	width: 100%;
	height: auto;
	border-radius: 2rem;
	z-index: 10;
	background: transparent;
}

.form-label-group input:focus,
.form-label-group select:focus {
	background: transparent !important;
}

.form-label-group>input,
.form-label-group>select,
.form-label-group>label {
	padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	/* width: 100%; */
	margin-bottom: 0;
	/* Override default `<label>` margin */
	line-height: 1.5;
	color: #495057;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder,
.form-label-group select::-webkit-select-placeholder {
	color: transparent;
}

.form-label-group input:-ms-input-placeholder,
.form-label-group select:-ms-select-placeholder {
	color: transparent;
}

.form-label-group input::-ms-input-placeholder,
.form-label-group select::-ms-select-placeholder {
	color: transparent;
}

.form-label-group input::-moz-placeholder,
.form-label-group select::-moz-placeholder {
	color: transparent;
}

.form-label-group input::placeholder,
.form-label-group select::placeholder {
	color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
	padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
	padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
	padding-top: calc(var(--input-padding-y) / 3);
	padding-bottom: calc(var(--input-padding-y) / 3);
	font-size: 12px;
	color: #777;
}

.form-label-group select:not(:placeholder-shown) {
	padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
	padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group select:not(:placeholder-shown)~label {
	padding-top: calc(var(--input-padding-y) / 3);
	padding-bottom: calc(var(--input-padding-y) / 3);
	font-size: 12px;
	color: #777;
}

.btn-google {
	color: white;
	background-color: #ea4335;
}

.btn-facebook {
	color: white;
	background-color: #3b5998;
}

textarea{
	width:100%;
}
/* Star rating css from  https://codepen.io/hesguru/pen/BaybqXv*/
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    display: none;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Fallback for Edge
  -------------------------------------------------- */

@supports (-ms-ime-align: auto) {
	.form-label-group>label {
		display: none;
	}

	.form-label-group input::-ms-input-placeholder,
	.form-label-group select::-ms-select-placeholder {
		color: #777;
	}
}

/* Fallback for IE
  -------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	.form-label-group>label {
		display: none;
	}

	.form-label-group input:-ms-input-placeholder,
	.form-label-group select:-ms-select-placeholder {
		color: #777;
	}
}


a {
    color: inherit;
    text-decoration: none;
}

a:hover 
{
    color: inherit;
     text-decoration:none; 
     cursor:pointer;  
}

/* Footer */

html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
	padding-bottom: [footer-height]
}

.sticky-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}

.footer-gap {
	display: block;
	width: 100%;
	height: 60px;
}


.poster-img {
	max-width: 100%;
	height: 500px;
}


/* Map */
.map {
	height: 400px;
	width: 100%;
}

.map-point {
	width: 200px;
	margin-left: -100px;
}

.map-point a {
	background: #eee;
	padding: 10px;
}

.map-icon {
	width: 50px;
	margin-left: 75px;
	margin-top: -70px;
}

.map-content {
	background: #eee;
}

.sticky-map {
	position: sticky;
	top: 20%;
}

.hidden {
	display: none;
}


/* Maanif page */
.manif-card {
	transition: 0.5s ease all;
	border-radius: 1.5em;
	background: #eee;
	height: 100%;
}

.manif-card a:hover {
	color:#333;
}

.manif-card:hover {
	box-shadow: #0000005e 0 0px 26px;
}

.vertical-centered {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translate(0%, -50%);
}

.manif-card .card-image {
	border-radius: 1.5em;
	position: relative;
	overflow: hidden;
	min-height: 150px;
}


.row-spacing {
	margin-top: 30px;
	margin-bottom: 30px
}

.manif-card .image-dim {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 1.5em;

	position: absolute;
	transform: translate(0, -105%);
	transition: all 0.5s ease-in-out;
	text-align: center;
	color:white;
}

.manif-card:hover .image-dim {
	transform: translate(0, 0);
}

/* Tickets */

.ticket {
	margin: 20px 0;
    background: linear-gradient(45deg, #2282ff, #b5d5ff);
	border: 0.1em solid #729bf2;
	border-radius: 1.6em;
	position: relative;
	transition: 0.5s ease-in-out all;
}

.ticket.fan-pit {
	background: linear-gradient(45deg, #f21dc7, #ff7cfb);
	border: 0.1em solid #da00d3;
}

.ticket.vip {
	background: linear-gradient(45deg, #d58a00, #8eff1e);
	border: 0.1em solid #ff8529;
}

.ticket a:hover {
	color:#333;
}

.ticket:hover {
	box-shadow: #0000005e 0 0px 26px;
}


.ticket .ticket-cover {
	border-radius: 1.5em;
	width:100%;
	max-height: 300px;}

.ticket .content {
	padding: 15px;
	z-index: 10;
}

.ticket-content {
	padding-right: 15px;
}

.margin-v-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.ticket .text-overlay {
	position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    font-size: 4rem;
    transform: translate(-50%, -50%) rotate(-7deg);
    color: #ff1919;
}

@media (min-width: 576px) {  
	.ticket .text-overlay {font-size:6rem;} /*1rem = 16px*/
}

@media (min-width: 768px) {  
	.ticket .text-overlay {font-size:8rem;} /*1rem = 16px*/
}

